#for-header{
    background: #ffffff00 !important;
    height: 80px;
    position: fixed;
    width: 100%;
}
#logo{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-left: 10%;
}
.text-b{
    color: #293a6b !important;
}

.text-y{
    color: #d39e00 !important;
}

.logo-font{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#list-header {
	margin-left: 10% !important;
	width: 60%;
}

#list-header li{
	margin-left: 3%;
	margin-right: 3%;
	width: 50%;
	display: list-item;
    text-align: -webkit-match-parent;
}
#list-header li a {
    color: #293a6b !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.for_btn button{
    margin-left: 3%;
    margin-right: 3%;
}

.for_btn{
    width: 20%;
}
#find-btn{
	margin-top: 4%;
}













.navbar{
    z-index: 999999;
    position: fixed;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #ffffff00 !important;
    color: #293a6b !important
}
#logos{
    color: #293a6b !important;
    font-size: 1.5rem;
}
.nav-link{
    color: #293a6b !important;
}
.for-btn button{
    margin-left: 10% !important;
    margin-top: 2%;
    float: right;
}
.for-btn{
    padding-left: 10%;
    width: 50%;
    text-align: center;
    float: left;
}
.nav-item{
    text-align: center;
    font-size: 1.1rem;
    margin-left: 10%;
}

.navbar-nav{
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 60%;
}
.navbar-collapse{
    float: right;
}


@media (max-width: 768px) {
    #logos{
        color: white !important;
    }
    .nav-link{
        color: white !important;
    }
    .navbar{
        color: white !important;
        background: #333333d9 !important;
    }

}


